click==8.1.5
colorama==0.4.6
iniconfig==2.0.0
mypy-extensions==1.0.0
numpy==1.25.0
opencv-python==4.8.0.74
packaging==23.1
pathspec==0.11.1
Pillow==10.0.0
platformdirs==3.8.1
pluggy==1.2.0
pyserial==3.5
pytest==7.4.0
